# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

#open ai
.env